body  {
  background-color: #006350;
  margin: 0;
}

h1 {
  font-family: 'Lilita One', cursive;
  color: #FBDC3E;
  font-size:100px
}

h2 {
  font-family: 'Lilita One', cursive;
  color: #FBDC3E;
  font-size:60px
}

p {
  color: #FBDC3E;
  font-family: 'Comfortaa', cursive;
  font-size:16px;
  font-weight: bold;
}

a {

  font-family: sans-serif;
  text-decoration: none;
  font-size:16px
}

a:hover {
  opacity: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

i {
  color: #006350;
  font-size: 45px;
}

i:hover {
  opacity: 50%;
}

.card-green {
  background-color: #006350;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

footer {
  background-color: #F6CED7;
  padding: 10px;
  text-align: center;
}

#footer-text {
  color: #006350;
  font-family: 'Comfortaa', cursive;
  font-size:16px;
  font-weight: bold;
}

.container {
  width: 1200px;
  margin: 40px auto;
}

.avatar {
  width: 200px;
  border-radius: 50%;
}

.button {
    background-color: #006350;
    color: #FBDC3E;
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: bold;
    border: solid
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.flex-form {
  display: flex;
  justify-content: center;
}

#send-button {
  background-color: #006350;
  color: #F6CED7;
  font-family: 'Lilita One', cursive;
  font-size: 25px;
  border-radius: 4px;
  border: none;

}

#email-form {
  border-radius: 4px;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  padding: 8px ;
  border-color: #006350;
  border-style: solid;
  margin-right: 5px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  h1 {
    font-size:50px;
  }
  h2 {
    font-size:30px;
  }
}
